/*
 * @Author: Bamboo
 * @AuthorEmail: bamboo8493@126.com
 * @Date: 2019-11-13 23:28:18
 * @Description: 入口文件
 * @LastEditors:
 * @LastEditorsEmail:
 * @LastEditTime: 2019-11-20 22:47:00
 * @LastEditorsDescription:
 */
body {
  background-color: #ddd;
}
body #canvas {
  border: thin solid #aaaaaa;
  background-color: #eeeeee;
}
